<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<head>
<title>Webhosting Pricing Tables a Flat Responsive Widget Template :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Webhosting Pricing Tables Widget a Flat Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<!-- Default-JavaScript-File -->
	<script type="text/javascript" src="js/jquery-2.1.4.1.min.js"></script>
<!-- //Default-JavaScript-File -->

<!-- default-css-files -->
	<link href="css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all"/>
<!-- default-css-files -->

<link href="css/popup-box.css" rel="stylesheet" type="text/css" media="all" /><!-- popup css -->  

<!-- style.css-file -->
	<link href="css/style1.css" rel='stylesheet' type='text/css' />
<!-- //style.css-file -->
<link href="//fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet" />
    
<style>
    .upid{
    border: 1px solid #dadada;
    font-family: sans-serif;
    color: coral;
    font-weight: 700;
    padding: 10px 95px;
    font-size: 14px;
    width: 54%;
    text-align: justify;
    outline: none;
    letter-spacing: 1px;
    background-color: transparent;
    margin-top: 20px;    
    }    
    .tez{
    border: 1px solid #dadada;
    font-family: sans-serif;
    color: coral;
    font-weight: 700;
    padding: 10px 95px;
    font-size: 14px;
    width: 54%;
    text-align: justify;
    outline: none;
    letter-spacing: 1px;
    background-color: transparent;
    margin-top: 20px;    
    } 
    }
</style>    

</head>
<!-- Head -->
<body>

<!-- /plans -->
<div class="plans-section">
	<div class="plans-main">
		<h1 class="w3l-inner-h-title"> </h1>
				<div class="price-grid ">
					<div class="price-block price-block1 agile">
						<div class="price-gd-top pric-clr2">
							<i class="fab fa-adn"></i>
							<h4>Internship Program</h4>
							<h4><span>rs</span>4500</h4>
							<p>15 Days program</p>
							<p>Required Softwares</p>
							<p>Printed Notes</p>
							<p>Refreshment</p>
						
						</div>
						<div class="price-gd-bottom">
							
							<div class="price-selet pric-sclr2">
								<a href="#small-dialog" class="w3_agileits_sign_up2 popup-with-zoom-anim ab scroll" >Pay Now</a>

							</div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
	</div>
</div>
<!-- //plans -->
	
<!-- copyright -->
<!-- //copyright -->

	<!-- popup signup form -->
	<div class="wthree_pop_up"> 
		<div id="small-dialog" class="mfp-hide agile_signup_form">
			<h2>To save your tax amount we have come up with different mode of payment.You can either pay via UPI or through tez application.</h2>
            <h3></h3>
			<form action="#" method="post">
			<div class="w3_ab">
				<div class="form-control"> 
					<label class="header">UPI ID :</label>
					<span class="upid">sayalijadhav136@okhdfcbank</span>
				</div>
				
				<div class="form-control">
					<label class="header1">Tez Number :</label>
					<span class="tez">+91 9620965136</span>
				</div>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript">
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}
		function validatePassword(){
			var pass2=document.getElementById("password2").value;
			var pass1=document.getElementById("password1").value;
			if(pass1!=pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');	 
				//empty string means no validation error
		}
	</script>

<!-- //popup signup form -->

<!-- pop-up-box -->
		<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
		<script>
			$(document).ready(function() {
				$('.popup-with-zoom-anim').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
				});														
			});
		</script>
	<!--//pop-up-box -->
	
</body>
</html>